/* ___PRODUCT_BUILD___ (___PRODUCT_COMMENTS___) ___PRODUCT_DATE___ */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*border-style: solid;
    border-width: 1px;
    border-color: blue;*/
    margin: auto;
    background-image: url("bgk.jpg");  
    background-size: cover;
}

iframe {
    /*border-style: solid;
    border-width: 1px;
    border-color: red;*/
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
    /*padding: 5px;*/
}
