<div class="widget-heading" ng-style="getWidgetHeaderStyle()">
    <h1 class="title" ng-style="getWidgetHeaderTitleStyle()">{{config.title}}</h1>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 26 26" ng-class="settings"
         ng-style="getWidgetHeaderIcons()" ng-mouseover="fSettHover()" ng-mouseleave="offSettHover()"
         ng-show="true" ng-click="showSettings()">
        <path d="M26 14.973v-3.998l-3.818-.623c-.199-.69-.473-1.352-.819-1.978l2.225-3.171-2.828-2.826-3.131 2.25c-.631-.351-1.299-.628-1.991-.828l-.666-3.799h-3.999l-.617 3.786c-.699.198-1.368.473-1.996.82l-3.122-2.231-2.827 2.826 2.196 3.14c-.354.635-.634 1.308-.835 2.007l-3.772.628v3.997l3.767.667c.2.699.479 1.371.834 2.007l-2.226 3.112 2.825 2.829 3.145-2.202c.634.351 1.304.627 2 .825l.63 3.789h3.997l.674-3.799c.696-.203 1.362-.482 1.99-.834l3.164 2.221 2.828-2.829-2.261-3.139c.347-.626.62-1.289.817-1.978l3.816-.669zm-13 1.667c-2.007 0-3.64-1.633-3.64-3.64s1.633-3.64 3.64-3.64 3.641 1.633 3.641 3.64-1.634 3.64-3.641 3.64z"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 26 26" class="delete"
         ng-style="getWidgetHeaderIcons()" ng-show="editmode" ng-click="showDelDial()"
         ng-mouseover="addHoverDelete()" ng-mouseleave="addNoHoverDelete()">
        <g enable-background="new">
            <path d="M10.818.019c-.911 0-1.804.18-2.452.763-.648.583-.865 1.409-.865 2.266v1.426h2.271v-1.426c0-.557.121-.729.188-.788.067-.061.264-.167.859-.167h4.365c.595 0 .792.108.859.167.067.06.188.23.188.788v1.426h2.271v-1.426c0-.858-.218-1.684-.865-2.266-.648-.582-1.541-.763-2.452-.763h-4.365z"/>
            <path d="M23.909 4.047c0-.549-.489-.997-1.091-.997h-19.635c-.601 0-1.091.448-1.091.997h-1.092v1.994h24v-1.994h-1.091z"/>
            <path d="M3.183 7.037v15.953c0 1.648 1.467 2.99 3.273 2.99h13.091c1.804 0 3.273-1.342 3.273-2.99v-15.953h-19.636zm6.545 14.955h-2.182v-11.963h2.182v11.963zm4.364 0h-2.183v-11.963h2.183v11.963zm4.364 0h-2.182v-11.963h2.182v11.963z"/>
        </g>
    </svg>
</div>

<div class="widget-content gird-widget" ng-if="!isDataEmpty()" data-limit="{{config.subscription.req.limit}}">
    <table style="height:{{100/config.subscription.req.limit*data.length}}%">
        <tr class="thead" ng-if="config.columtitle">
            <td ng-repeat="col in config.subscription.req.columns" ng-style="getGridTitleStyle($index, config)">
                {{col.coltitle}}
            </td>
        </tr>
        <tr ng-repeat="row in data" ng-init="rowIndex = $index" ng-style="getGridRowStyle($index)">
            <td ng-repeat="cell in row track by $index"
                style="{{getGridCellStyle($index, data, row, cell, config)}}">
                <div ng-if="!(icon_col_id == $index +1)" style="{{getNoWrapForNames($index, data, row, cell, config)}}">{{cell}}</div>
                <div ng-if="(icon_col_id == $index +1)"><img ng-src="{{arrCircle[rowIndex]}}"
                                                             ng-style="{{getCircleStyle(rowIndex,data,row)}}"></div>
            </td>
        </tr>
    </table>
</div>

<div class="widget-content" ng-if="isDataEmpty()">
    <span class="no-data">No data</span>
</div>

<div class="popup" ng-show="show_deldial">
    <div class="widget-deldial">
        <div class="widget-heading">
            <h1 class="title">Delete Widget?</h1>
        </div>
        <div class="footer">
            <button ng-click="delWidget()">Delete</button>
            <button ng-click="cancelDel()" class="buttCanc">Cancel</button>
        </div>
    </div>
</div>

<div class="popup" ng-show="show_settings">
    <div class="widget-settings">
        <div class="widget-heading">
            <h1 class="title">Select Grid Options</h1>
        </div>
        <div class="widget-content">
            <div style="display: table;">
                <div class="sett-str" style="display: table-row;">
                    <div class="sett-title" style="display: table-cell; vertical-align: middle; font-weight: bold;">
                        Title:
                    </div>
                    <div class="sett-opt"
                         style="display: table-cell; vertical-align: middle; top:0; transform: translateY(0);">
                        <input type="text" ng-model="config.title" style="height: 30px;">
                    </div>
                </div>
            </div>
            <div ng-if="config.subscription.type == 'agent_grid'">
                <div style="display: table;">
                    <div class="sett-str" style="display: table-row;">
                        <div class="sett-title" style="display: table-cell; vertical-align: middle; font-weight: bold;">
                            Show only:
                        </div>
                        <div class="sett-opt"
                             style="display: table-cell; vertical-align: middle; top:0; transform: translateY(0);">
                            <div class="sett-opt-link" ng-click="onTeamsDial()">selected teams</div>
                            <div class="sett-opt-link" ng-click="onStateDial()" style="margin-left: 70px;">selected
                                states
                            </div>
                        </div>
                    </div>

                    <div class="sett-str" style="display: table-row;">
                        <div class="sett-title" style="display: table-cell; vertical-align: middle; font-weight: bold;">
                            Column headings:
                        </div>
                        <div class="sett-opt"
                             style="display: table-cell; vertical-align: middle; top:0; transform: translateY(0);">
                            <input type="checkbox" ng-model="config.columtitle" style="margin: 0; vertical-align: middle;">
                            <div style="display: inline-block;">enable</div>
                        </div>
                    </div>

                    <div class="sett-str" style="display: table-row;">
                        <div class="sett-title" style="display: table-cell; vertical-align: middle; font-weight: bold;">
                            Max items to show:
                        </div>
                        <div class="sett-opt"
                             style="display: table-cell; vertical-align: middle; top:0; transform: translateY(0);">
                            <input type="number" min=0 max=200 step=1 ng-model="config.subscription.req.limit"
                                   style="height: 30px;">
                        </div>
                    </div>

                    <div class="sett-str" style="display: table-row;">
                        <div class="sett-title"
                             style="display: table-cell; vertical-align: middle; font-weight: bold; padding: 15px 0;">
                            Columns:
                        </div>
                        <div class="sett-opt"
                             style="display: table-cell; vertical-align: middle; top:0; transform: translateY(0);"></div>
                    </div>
                </div>
                <div class="sett-table">
                    <div class="sett-table-th" style="width: 10%;">Order</div>
                    <div class="sett-table-th" style="width: 35%;">Statistic</div>
                    <div class="sett-table-th" style="width: 10%;">Sort</div>
                    <div class="sett-table-th" style="width: 20%;" ng-if="config.columtitle">Title</div>
                    <div class="sett-table-th" style="width: 20%;">Options</div>

                    <div ng-repeat="column in config.subscription.req.columns" class="sett-table-str">
                        <div class="sett-table-td" style="width: 10%;">
                            <input type="text" min=1 max=20 step=1 ng-model="column.id" ng-change="changeID(column)"
                                   style="width: 45px; text-align: center; height: 30px;">
                        </div>
                        <div class="sett-table-td" style="width: 35%;">
                            <select ng-model="column.statName" style="width: 100%; height: 30px;"
                                    ng-change="fChangeStat(column)">
                                <option ng-repeat="(key, value) in datagridagent" value={{key}}>{{value}}</option>
                            </select>
                        </div>
                        <div class="sett-table-td" style="width: 10%;">
                            <div
                                    class="sort-icon-em"
                                    ng-show="!column.dir"
                                    ng-click="fChangeSort(column,'empt')"
                            ></div>
                            <span
                                    class="sort-icon glyphicon glyphicon-triangle-bottom"
                                    ng-show="column.dir == 'DESC'"
                                    ng-click="fChangeSort(column,'des')"
                            ></span>
                            <span
                                    class="sort-icon glyphicon glyphicon-triangle-top"
                                    ng-show="column.dir == 'ASC'"
                                    ng-click="fChangeSort(column,'as')"
                            ></span>
                        </div>
                        <div class="sett-table-td" style="width: 20%; height: 30px;" ng-if="config.columtitle">
                            <input type="text" style="height: 30px;" ng-model="column.coltitle"
                                   ng-change="fInputTitle(column)">
                        </div>
                        <div class="sett-table-td" style="width: 20%;">
                            <button ng-click="delCol(column)" class="sett-table-but" style="float: right;">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                    <button ng-click="addCol('plus1')" class="sett-table-but"
                            style="transform: translateX(55px); height: 30px;">
                        <span id="plus1" class="glyphicon glyphicon-plus"
                              style="font-size: 20px; padding-top: 3px;"></span>
                    </button>
                </div>

                <ul>
                    <li class="no-bullet" ng-repeat="d in dispositions track by $index">
                        <input type="checkbox" ng-model="d.selected"> {{ d.name }}
                    </li>
                </ul>

            </div>

            <div ng-if="config.subscription.type == 'service_grid'">
                <div style="display: table;">
                    <div class="sett-str" style="display: table-row;">
                        <div class="sett-title" style="display: table-cell; vertical-align: middle; font-weight: bold;">
                            Show only:
                        </div>
                        <div class="sett-opt"
                             style="display: table-cell; vertical-align: middle; top:0; transform: translateY(0);">
                            <div class="sett-opt-link" ng-click="onServDial()">selected services</div>
                        </div>
                    </div>

                    <div class="sett-str" style="display: table-row;">
                        <div class="sett-title" style="display: table-cell; vertical-align: middle; font-weight: bold;">
                            Column headings:
                        </div>
                        <div class="sett-opt"
                             style="display: table-cell; vertical-align: middle; top:0; transform: translateY(0);">
                            <input type="checkbox" ng-model="config.columtitle" style="margin: 0; vertical-align: middle;">
                            <div style="display: inline-block;">enable</div>
                        </div>
                    </div>

                    <div class="sett-str" style="display: table-row;">
                        <div class="sett-title" style="display: table-cell; vertical-align: middle; font-weight: bold;">
                            Max items to show:
                        </div>
                        <div class="sett-opt"
                             style="display: table-cell; vertical-align: middle; top:0; transform: translateY(0);">
                            <input type="number" min=0 max=200 step=1 ng-model="config.subscription.req.limit"
                                   style="height: 30px;">
                        </div>
                    </div>

                    <div class="sett-str" style="display: table-row;">
                        <div class="sett-title"
                             style="display: table-cell; vertical-align: middle; font-weight: bold;padding: 15px 0;">
                            Columns:
                        </div>
                        <div class="sett-opt"
                             style="display: table-cell; vertical-align: middle; top:0; transform: translateY(0);"></div>
                    </div>
                </div>
                <div class="sett-table">
                    <div class="sett-table-th" style="width: 10%;">Order</div>
                    <div class="sett-table-th" style="width: 35%;">Statistic</div>
                    <div class="sett-table-th" style="width: 10%;">Sort</div>
                    <div class="sett-table-th" style="width: 20%;" ng-if="config.columtitle">Title</div>
                    <div class="sett-table-th" style="width: 20%;">Options</div>

                    <div ng-repeat="column in config.subscription.req.columns" class="sett-table-str">
                        <div class="sett-table-td" style="width: 10%;">
                            <input type="text" min=1 max=20 step=1 ng-model="column.id" ng-change="changeID(column)"
                                   style="width: 45px; text-align: center; height: 30px;">
                        </div>
                        <div class="sett-table-td" style="width: 35%;">
                            <select ng-model="column.statName" style="width: 100%; height: 30px;">
                                <option ng-repeat="(key, value) in datagridservice" value={{key}}>{{value}}</option>
                            </select>
                        </div>
                        <div class="sett-table-td" style="width: 10%;">
                            <div
                                    class="sort-icon-em"
                                    ng-show="!column.dir"
                                    ng-click="fChangeSort(column,'empt')"
                            ></div>
                            <span
                                    class="sort-icon glyphicon glyphicon-triangle-bottom"
                                    ng-show="column.dir == 'DESC'"
                                    ng-click="fChangeSort(column,'des')"
                            ></span>
                            <span
                                    class="sort-icon glyphicon glyphicon-triangle-top"
                                    ng-show="column.dir == 'ASC'"
                                    ng-click="fChangeSort(column,'as')"
                            ></span>
                        </div>
                        <div class="sett-table-td" style="width: 20%; height: 30px;" ng-if="config.columtitle">
                            <input type="text" style="height: 30px;" ng-model="column.coltitle"
                                   ng-change="fInputTitle(column)">
                        </div>
                        <div class="sett-table-td" style="width: 20%;">
                            <button ng-click="delCol(column)" class="sett-table-but"
                                    style="float: right; height: 14px;">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                    <button ng-click="addCol('plus2')" class="sett-table-but"
                            style="transform: translateX(55px); height: 30px;">
                        <span id="plus2" class="glyphicon glyphicon-plus"
                              style="font-size: 20px; padding-top: 3px;"></span>
                    </button>
                </div>

                <ul>
                    <li class="no-bullet" ng-repeat="d in dispositions track by $index">
                        <input type="checkbox" ng-model="d.selected"> {{ d.name }}
                    </li>
                </ul>


            </div>

        </div>
        <div class="footer">
            <button ng-click="applySettings()">OK</button>
            <button class="buttCanc" ng-click="cancelSettings()">Cancel</button>
        </div>
    </div>
</div>

<div class="popup" ng-show="show_statesdial">
    <div class="widget-statesdial">
        <div class="widget-heading">
            <h1 class="title">Select Agents by State</h1>
        </div>
        <div class="widget-content">
            <div class="sett-str" style="">
                <div class="sett-title">States:</div>
                <div class="sett-opt">
                    &nbsp;
                </div>
            </div>
            <div class="sett-str" style="">
                <div class="sett-title">&nbsp;</div>
                <div class="sett-opt">
                    <input type="checkbox" checked="" style="vertical-align: middle; margin: 0;">
                    <div style="display: inline-block; vertical-align: middle;">Busy</div>
                </div>
            </div>
            <div class="sett-str" style="">
                <div class="sett-title">&nbsp;</div>
                <div class="sett-opt">
                    <input type="checkbox" checked="" style="vertical-align: middle; margin: 0;">
                    <div style="display: inline-block; vertical-align: middle;">Ready</div>
                </div>
            </div>
            <div class="sett-str" style="">
                <div class="sett-title">&nbsp;</div>
                <div class="sett-opt">
                    <input type="checkbox" checked="" style="vertical-align: middle; margin: 0;">
                    <div style="display: inline-block; vertical-align: middle;">After Call Work</div>
                </div>
            </div>
            <div class="sett-str" style="">
                <div class="sett-title">&nbsp;</div>
                <div class="sett-opt">
                    <input type="checkbox" checked="" style="vertical-align: middle; margin: 0;">
                    <div style="display: inline-block; vertical-align: middle;">Not Ready</div>
                </div>
            </div>
            <div class="sett-str" style="">
                <div class="sett-title">&nbsp;</div>
                <div class="sett-opt">
                    &nbsp;
                </div>
            </div>
            <div class="sett-str">
                <div class="sett-title">Limit to:</div>
                <div class="sett-opt">
                    <input type="checkbox" checked="" style="vertical-align: middle; margin: 0;">
                    <div style="display: inline-block; vertical-align: middle;">my subteam only</div>
                </div>
            </div>
        </div>
        <div class="footer">
            <button ng-click="okState()">OK</button>
            <button ng-click="cancelState()" class="buttCanc">Cancel</button>
        </div>
    </div>
</div>

<div class="popup" ng-show="show_teamsdial">
    <div class="widget-teamsdial">
        <div class="widget-heading">
            <h1 class="title">Select Teams</h1>
        </div>
        <div class="widget-content">
            <span>Avaliable</span>
            <span style="padding-left: 290px;">Included</span>
            <div class="list1"></div>
            <div class="list2"></div>
            <button style="top: 115px; left: 310px;">
                <span class="glyphicon glyphicon-menu-right" style="transform: translateY(1px);"></span>
            </button>
            <button style="top: 155px; left: 310px;">
                <span class="glyphicon glyphicon-menu-left" style="transform: translateY(1px);"></span>
            </button>
            <button style="top: 195px; left: 310px;">
                <span class="glyphicon glyphicon-menu-right" style="transform: translateY(1px);"></span>
                <span class="glyphicon glyphicon-menu-right" style="transform: translateY(1px);"></span>
            </button>
            <button style="top: 235px; left: 310px;">
                <span class="glyphicon glyphicon-menu-left" style="transform: translateY(1px);"></span>
                <span class="glyphicon glyphicon-menu-left" style="transform: translateY(1px);"></span>
            </button>
        </div>
        <div class="footer">
            <button ng-click="okTeams()">OK</button>
            <button ng-click="cancelTeams()" class="buttCanc">Cancel</button>
        </div>
    </div>
</div>

<div class="popup" ng-show="show_servdial">
    <div class="widget-teamsdial">
        <div class="widget-heading">
            <h1 class="title">Select Services</h1>
        </div>
        <div class="widget-content">
            <span>Avaliable</span>
            <span style="padding-left: 290px;">Included</span>
            <div class="list1"></div>
            <div class="list2"></div>
            <button style="top: 115px; left: 310px;">
                <span class="glyphicon glyphicon-menu-right" style="transform: translateY(1px);"></span>
            </button>
            <button style="top: 155px; left: 310px;">
                <span class="glyphicon glyphicon-menu-left" style="transform: translateY(1px);"></span>
            </button>
            <button style="top: 195px; left: 310px;">
                <span class="glyphicon glyphicon-menu-right" style="transform: translateY(1px);"></span>
                <span class="glyphicon glyphicon-menu-right" style="transform: translateY(1px);"></span>
            </button>
            <button style="top: 235px; left: 310px;">
                <span class="glyphicon glyphicon-menu-left" style="transform: translateY(1px);"></span>
                <span class="glyphicon glyphicon-menu-left" style="transform: translateY(1px);"></span>
            </button>
        </div>
        <div class="footer">
            <button ng-click="okServ()">OK</button>
            <button ng-click="cancelServ()" class="buttCanc">Cancel</button>
        </div>
    </div>
</div>
